In [1]:
pip install snowflake-connector-python

Requirement already satisfied: snowflake-connector-python in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (3.1.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (1.15.1)
Requirement already satisfied: cryptography<42.0.0,>=3.1.0 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (41.0.2)
Requirement already satisfied: oscrypto<2.0.0 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (1.3.0)
Requirement already satisfied: pyOpenSSL<24.0.0,>=16.2.0 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (23.2.0)
Requirement already satisfied: pycryptodomex!=3.5.0,<4.0.0,>=3.2 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (3.18.0)
Requirement already satisfied: pyjwt<3.0.0 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: pytz in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (2022.7)
Requirement already satisfied: requests<3.0.0 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (2.31.0)
Requirement already satisfied: packaging in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (2023.7.22)
Requirement already satisfied: typing-extensions<5,>=4.3 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (4.7.1)
Requirement already satisfied: filelock<4,>=3.5 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (3.9.0)
Requirement already satisfied: sortedcontainers>=2.4.0 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: platformdirs<3.9.0,>=2.6.0 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (3.8.1)
Requirement already satisfied: tomlkit in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from snowflake-connector-python) (0.11.1)
Requirement already satisfied: pycparser in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
import getpass
pwd_approved=getpass.getpass("Enter password:")

Enter password:········

In [4]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (11.0.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.16.6 in c:\users\sowbhagya.vodal\documents\python scripts\lib\site-packages (from pyarrow) (1.24.3)

In [7]:
import snowflake.connector
conn_approved = snowflake.connector.connect(user='sowbhagya22',password=str(pwd_approved),account='mx53414.ap-south-1.aws')

In [8]:
sql_approved='select * from LOANS.S_LOANS.APPROVED_LOAN'

In [9]:
res_approved=conn.cursor().execute(sql_approved).fetchall()

KeyboardInterrupt:

In [9]:
df=pd.read_sql(sql_approved,conn_approved)
df.info()

C:\Users\sowbhagya.vodal\AppData\Local\Temp\ipykernel_3712\4222303541.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(sql_approved,conn_approved)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551452 entries, 0 to 551451
Columns: 148 entries, id to Label
dtypes: float64(102), int64(1), object(45)
memory usage: 622.7+ MB

In [133]:
pd.isnull(df).any()

id                        True
member_id                 True
loan_amnt                 True
funded_amnt               True
funded_amnt_inv           True
                         ...
settlement_percentage     True
settlement_term           True
Quarter                  False
Year                     False
Label                    False
Length: 148, dtype: bool

In [134]:
df['int_rate'] = df['int_rate'].str.rstrip('%').astype(float)

In [135]:
print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... debt_settlement_flag debt_settlement_flag_date  \
0             B3  ...                False                      None
1             A2  ...                False                      None
2             B4  ...                False                      None
3             C1  ...                False                      None
4             E1  ...                False                      None
...          ...  ...                  ...                       ...
551447        C3  ...                False                      None
551448        B3  ...                False                      None
551449        C2  ...                False                      None
551450      None  ...                 None                      None
551451      None  ...                 None                      None

       settlement_status settlement_date settlement_amount  \
0                   None            None               NaN
1                   None            None               NaN
2                   None            None               NaN
3                   None            None               NaN
4                   None            None               NaN
...                  ...             ...               ...
551447              None            None               NaN
551448              None            None               NaN
551449              None            None               NaN
551450              None            None               NaN
551451              None            None               NaN

       settlement_percentage settlement_term Quarter  Year     Label
0                        NaN             NaN      Q4  2017  Approved
1                        NaN             NaN      Q4  2017  Approved
2                        NaN             NaN      Q4  2017  Approved
3                        NaN             NaN      Q4  2017  Approved
4                        NaN             NaN      Q4  2017  Approved
...                      ...             ...     ...   ...       ...
551447                   NaN             NaN      Q1  2018  Approved
551448                   NaN             NaN      Q1  2018  Approved
551449                   NaN             NaN      Q1  2018  Approved
551450                   NaN             NaN      Q1  2018  Approved
551451                   NaN             NaN      Q1  2018  Approved

[551452 rows x 148 columns]

In [136]:
def risk_score(mths_since_last_record):
    if pd.isnull(mths_since_last_record):  # Check for missing values
        return 80
    elif mths_since_last_record >= 24:
        return 60
    elif mths_since_last_record >= 12:
        return 30
    elif mths_since_last_record >= 6:
        return 20
    else:
        return 10

In [137]:
df['Risk_Score'] = df['mths_since_last_record'].apply(risk_score)

In [138]:
print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... debt_settlement_flag_date settlement_status  \
0             B3  ...                      None              None
1             A2  ...                      None              None
2             B4  ...                      None              None
3             C1  ...                      None              None
4             E1  ...                      None              None
...          ...  ...                       ...               ...
551447        C3  ...                      None              None
551448        B3  ...                      None              None
551449        C2  ...                      None              None
551450      None  ...                      None              None
551451      None  ...                      None              None

       settlement_date settlement_amount settlement_percentage  \
0                 None               NaN                   NaN
1                 None               NaN                   NaN
2                 None               NaN                   NaN
3                 None               NaN                   NaN
4                 None               NaN                   NaN
...                ...               ...                   ...
551447            None               NaN                   NaN
551448            None               NaN                   NaN
551449            None               NaN                   NaN
551450            None               NaN                   NaN
551451            None               NaN                   NaN

       settlement_term Quarter  Year     Label Risk_Score
0                  NaN      Q4  2017  Approved         80
1                  NaN      Q4  2017  Approved         80
2                  NaN      Q4  2017  Approved         80
3                  NaN      Q4  2017  Approved         80
4                  NaN      Q4  2017  Approved         80
...                ...     ...   ...       ...        ...
551447             NaN      Q1  2018  Approved         80
551448             NaN      Q1  2018  Approved         80
551449             NaN      Q1  2018  Approved         80
551450             NaN      Q1  2018  Approved         80
551451             NaN      Q1  2018  Approved         80

[551452 rows x 149 columns]

In [139]:
print(df['earliest_cr_line'])

0         Jan-2010
1         Dec-2010
2         Mar-1993
3         Mar-1997
4         Oct-2007
            ...
551447    Feb-1994
551448    May-1998
551449    Jul-2007
551450        None
551451        None
Name: earliest_cr_line, Length: 551452, dtype: object

In [140]:
from datetime import datetime

In [141]:
import math

In [142]:
unique_values = df['earliest_cr_line'].unique()

In [143]:
print(unique_values)

['Jan-2010' 'Dec-2010' 'Mar-1993' 'Mar-1997' 'Oct-2007' 'Nov-1996'
 'Jan-2006' 'Mar-2006' 'Oct-2001' 'Aug-2005' 'Jan-1984' 'Jan-1995'
 'Apr-2006' 'Sep-2005' 'May-2013' 'May-2006' 'Mar-1995' 'Feb-1999'
 'Jul-2003' 'Sep-2013' 'Aug-1994' 'Aug-2002' 'Aug-2001' 'Aug-2003'
 'Sep-2006' 'Apr-2010' 'Dec-1994' 'Apr-2002' 'Jan-2011' 'Apr-1999'
 'Sep-2008' 'Jul-1998' 'Jan-2005' 'Jul-2008' 'May-1997' 'Jul-1996'
 'Aug-1977' 'Oct-1997' 'Sep-1999' 'Aug-1978' 'Jul-1994' 'Jun-1993'
 'May-1999' 'Nov-2012' 'Mar-2005' 'Sep-2000' 'Dec-2013' 'Aug-2006'
 'Apr-2000' 'Mar-1984' 'Aug-2004' 'Nov-1999' 'Apr-2008' 'May-2000'
 'Sep-2001' 'Mar-2007' 'Feb-2004' 'Jun-1999' 'Aug-1998' 'Nov-2004'
 'Feb-2003' 'Jan-1999' 'Jun-1998' 'Aug-2000' 'Sep-2002' 'Feb-1998'
 'Jul-1983' 'Oct-2008' 'Jun-2004' 'Feb-1989' 'May-1991' 'Dec-2005'
 'Jan-2004' 'Jul-2014' 'Aug-2011' 'Apr-2011' 'Aug-2012' 'Dec-2003'
 'Feb-1996' 'Jul-2013' 'Feb-1997' 'Oct-1983' 'Jul-1988' 'Apr-2004'
 'Apr-1991' 'Oct-2006' 'Feb-1988' 'Nov-2002' 'Jun-1996' 'Apr-2003'
 'Mar-1998' 'Nov-2005' 'Aug-1999' 'Nov-1995' 'Jan-2008' 'Aug-2010'
 'Oct-1998' 'Jan-1992' 'Mar-1999' 'Jan-2009' 'Feb-2006' 'Sep-2003'
 'Apr-1996' 'Mar-2003' 'Oct-1996' 'Oct-2002' 'Nov-2001' 'Sep-1996'
 'Nov-2007' 'Dec-2009' 'Jun-2001' 'Oct-2009' 'Aug-1995' 'Dec-2004'
 'Jan-1996' 'Mar-2012' 'Sep-2010' 'Feb-2007' 'May-2007' 'Jan-2007'
 'Apr-2005' 'Jun-1985' 'Aug-1996' 'Sep-1998' 'Jul-2005' 'May-1995'
 'Feb-2009' 'Feb-2011' 'Sep-1993' 'Jan-2000' 'Nov-1989' 'Dec-2001'
 'Apr-2012' 'Jan-1981' 'Aug-1997' 'Mar-2001' 'Jul-1997' 'Mar-1980'
 'Mar-2004' 'Apr-2014' 'Oct-2011' 'Sep-1991' 'Mar-2002' 'Mar-2011'
 'Oct-1994' 'Oct-2010' 'Dec-2000' 'Feb-1995' 'Oct-2003' 'May-1989'
 'Feb-2002' 'Jul-2002' 'Jul-1995' 'Feb-2005' 'Jun-2005' 'Mar-1991'
 'Jul-1986' 'May-1994' 'Oct-2005' 'May-2005' 'May-2010' 'Jul-2004'
 'Dec-2006' 'Dec-1989' 'Nov-1998' 'Feb-2010' 'Nov-2000' 'Nov-2014'
 'May-2002' 'Aug-1990' 'Aug-2009' 'Jun-1979' 'Feb-1994' 'Apr-1997'
 'Jun-1995' 'Jul-2010' 'Feb-2014' 'Mar-1973' 'Feb-1976' 'Jan-2003'
 'May-2003' 'Aug-2014' 'Dec-2008' 'Jun-2003' 'May-2012' 'Oct-2013'
 'Nov-1997' 'Jul-1993' 'Oct-1999' 'Nov-2011' 'Apr-1990' 'Sep-2007'
 'Jun-2011' 'Oct-2004' 'Aug-2008' 'Sep-1988' 'Feb-1979' 'Feb-2008'
 'Jan-1993' 'Dec-1976' 'Sep-2014' 'Aug-2007' 'May-2011' 'Mar-2000'
 'Jun-1990' 'Dec-1999' 'Aug-1988' 'Sep-2011' 'Sep-1985' 'Oct-2000'
 'Nov-2008' 'Oct-1984' 'Jan-1991' 'Mar-2008' 'Nov-1994' 'Jul-2006'
 'Apr-1988' 'Jun-2000' 'Jul-2007' 'Oct-1993' 'Jul-1991' 'Nov-2006'
 'Sep-1997' 'Feb-1978' 'Jul-1984' 'Sep-2004' 'Sep-1990' 'Jul-2009'
 'Sep-1995' 'Nov-1987' 'May-1987' 'Apr-2007' 'May-1990' 'Dec-1993'
 'Feb-2001' 'Jun-1992' 'Oct-1992' 'Oct-1988' 'Jan-2014' 'Jul-2000'
 'Apr-2009' 'Feb-2000' 'Apr-1992' 'Apr-1983' 'Jun-2012' 'Jun-2007'
 'Oct-1972' 'Aug-1985' 'Dec-1974' 'Sep-2009' 'Jul-2001' 'May-2001'
 'Nov-2013' 'Dec-1998' 'Mar-2014' 'Jan-2002' 'Dec-1997' 'Nov-1992'
 'Aug-2013' 'Feb-2013' 'Jan-2001' 'May-2014' 'May-2004' 'Jun-1997'
 'Nov-2010' 'Dec-1981' 'Jul-1990' 'Mar-1990' 'Nov-1988' 'Oct-1995'
 'Jun-2002' 'Jan-1997' 'Sep-1984' 'Dec-1990' 'Nov-1984' 'Dec-1992'
 'Sep-1982' 'Nov-1993' 'Apr-1972' 'Dec-2002' 'Mar-1978' 'Oct-2012'
 'May-1992' 'Jul-1999' 'Mar-1989' 'Jul-1992' 'Oct-1991' 'Mar-1986'
 'Mar-1967' 'Sep-1976' 'Jun-2010' 'Dec-1995' 'Mar-1970' 'Feb-1992'
 'Dec-2012' 'Oct-1982' 'Jan-1987' 'Nov-1972' 'May-2008' 'Mar-1987'
 'Apr-2001' 'Oct-1990' 'Feb-1980' 'Sep-1987' 'Nov-1976' 'Feb-1984'
 'Jun-2008' 'Jun-2013' 'Aug-1982' 'Jun-2009' 'Jan-1983' 'Dec-1986'
 'Sep-1992' 'Apr-1994' 'Mar-1988' 'May-1988' 'Jun-2006' 'Apr-1971'
 'Jul-2012' 'Jan-1960' 'Jan-2012' 'Mar-1992' 'Jul-1982' 'Jun-1991'
 'Nov-1978' 'May-1996' 'Oct-2014' 'Dec-1985' 'Nov-1985' 'Sep-2012'
 'Apr-1998' 'Nov-2003' 'Mar-2010' 'May-1985' 'Nov-1991' 'May-1993'
 'Mar-2009' 'Jul-1987' 'Mar-1996' 'May-1998' 'Dec-1972' 'Aug-1969'
 'Dec-1991' 'Jan-1982' 'Jun-1988' 'Feb-1985' 'Sep-1994' 'Jun-1994'
 'Apr-1987' 'Aug-1989' 'Nov-2009' 'Nov-1986' 'Dec-2007' 'Apr-1984'
 'Jun-1980' 'Jun-1984' 'Jan-1975' 'Nov-1980' 'Dec-2011' 'Feb-2012'
 'Jun-1976' 'Mar-1985' 'Jan-1977' 'Aug-1987' 'Oct-1986' 'Mar-1994'
 'Dec-1987' 'Oct-1979' 'Feb-1973' 'Jun-1983' 'Feb-1990' 'May-1986'
 'Dec-1978' 'Jan-1998' 'Aug-1984' 'Apr-1989' 'Jan-1978' 'Feb-1986'
 'Jan-1986' 'Feb-1991' 'Jan-1976' 'Oct-1989' 'Jun-2014' 'Nov-1982'
 'Nov-1990' 'May-1963' 'Dec-1982' 'Apr-1995' 'Oct-1975' 'May-1976'
 'Apr-1985' 'Aug-1970' 'Feb-1993' 'Sep-1978' 'Apr-1982' 'May-1984'
 'Apr-2013' 'Jan-1989' 'Feb-1970' 'Jun-1989' 'Aug-1986' 'Jan-1994'
 'Jul-2011' 'Dec-1984' 'Apr-1979' 'Apr-1993' 'Dec-1977' 'Dec-1996'
 'Oct-1977' 'Jan-2013' 'Oct-1981' 'Feb-1982' 'May-1983' 'May-2009'
 'Feb-1977' 'Aug-1993' 'Jun-1987' 'Mar-1977' 'Jul-1981' 'Aug-1991'
 'Sep-1989' 'Aug-1981' 'Nov-1979' 'Sep-1973' 'May-1965' 'Nov-1975'
 'Oct-1987' 'Apr-1986' 'Jan-1985' 'Oct-1974' 'Jun-1978' 'Sep-1981'
 'Jan-1979' 'Mar-2013' 'Oct-1985' 'Apr-1976' 'Sep-1983' 'Oct-1978'
 'May-1981' 'Jul-1970' 'Jun-1973' 'Dec-1983' 'Jul-1976' 'Dec-1988'
 'Apr-1981' 'Feb-1987' 'Aug-1979' 'Sep-1980' 'Nov-1983' 'Sep-1979'
 'Jul-1964' 'Jan-1988' 'Jul-1989' 'Jun-1981' 'Mar-1981' 'Nov-1981'
 'Jun-1986' 'Jan-1959' 'Oct-1965' 'May-1973' 'Jun-1972' 'Aug-1976'
 'Nov-1974' 'Sep-1977' 'Jun-1982' 'Sep-1986' 'Oct-1973' 'Aug-1992'
 'Jan-1971' 'May-1978' 'Mar-1983' 'Dec-1968' 'May-1977' 'Oct-1976'
 'Jan-1980' 'Apr-1975' 'Jan-1990' 'Jan-1973' 'May-1982' 'Dec-1979'
 'Jul-1973' 'Aug-1974' 'Mar-1982' 'Jul-1985' 'Aug-1983' 'Apr-1970'
 'Jan-1972' 'May-1975' 'Apr-1980' 'Dec-1975' 'Jan-1951' 'Mar-1971'
 'Apr-1977' 'Oct-1980' 'Dec-1980' 'Feb-1969' 'Nov-1967' 'Feb-1981'
 'Apr-1978' 'Apr-1969' 'Jun-1970' 'Sep-1970' 'Feb-1983' 'Apr-1962'
 'Aug-1975' 'Oct-1971' 'Jul-1974' 'May-1972' 'Jan-1964' 'Mar-1974'
 'Jul-1972' 'Jul-1975' 'Aug-1973' 'Jun-1965' 'Dec-1969' 'Nov-1977'
 'Sep-1971' 'Feb-1971' 'Nov-1971' 'Dec-1971' 'Jan-1967' 'Dec-1963'
 'Jun-1975' 'Apr-1973' 'Mar-1976' 'May-1979' 'Jan-1968' 'Sep-1975'
 'Nov-1969' 'Jun-1974' 'Jul-1980' 'Jul-1979' 'Jan-1962' 'Aug-1980'
 'Mar-1979' 'May-1980' 'Nov-1964' 'Mar-1968' 'Jun-1971' 'Jul-1978'
 'Mar-1961' 'Aug-1972' 'Feb-1975' 'Nov-1966' 'Aug-1968' 'Mar-1975'
 'Nov-1968' 'Dec-1970' 'May-1964' 'Dec-1973' 'Dec-1966' 'Dec-1962'
 'Jul-1977' 'Aug-1971' 'Apr-1966' 'Nov-1973' 'Jul-1963' 'May-1968'
 'Jul-1971' 'Sep-1974' 'Jun-1977' 'Apr-1967' 'Feb-1974' 'Nov-1970'
 'May-1969' 'Feb-1965' 'Mar-1972' 'Jun-1952' 'Oct-1968' 'Jul-1968'
 'Jul-1959' 'May-1970' 'Jan-1966' 'Jan-1974' 'Jan-1961' 'Apr-1965'
 'Jan-1957' 'Dec-1967' 'Sep-1969' 'Apr-1968' 'Mar-1969' 'Apr-1974'
 'Apr-1964' 'Aug-1961' 'Sep-1967' 'Jan-1969' 'Mar-1959' 'Jul-1969'
 'Sep-1965' 'Mar-1966' 'Jul-1962' 'Jun-1969' 'Sep-1968' 'May-1974'
 'Jun-1949' 'Feb-1972' 'May-1966' 'Aug-1967' 'Jun-1964' 'May-1959'
 'Jan-1954' 'Jan-1970' 'Jan-1965' 'Aug-1966' 'Sep-1966' 'Feb-1967'
 'Oct-1970' 'Oct-1961' 'Mar-1965' 'Jan-1958' 'Sep-1972' 'Jan-1963'
 'Sep-1953' 'Jul-1965' 'Jun-1967' 'Sep-1962' 'Oct-1969' 'May-1971'
 'Nov-1956' 'Jun-1956' 'Jul-1966' 'Oct-1966' 'Jun-1963' 'Oct-1967'
 'Nov-1965' 'Oct-1963' 'Dec-1964' 'Jun-1968' 'Oct-1964' 'Dec-1965'
 'Sep-1963' 'Sep-1964' 'May-1957' 'Feb-1966' 'Jul-1967' 'Jun-1961'
 'Feb-1958' 'Aug-1965' 'Feb-1968' None 'Jan-2015' 'Feb-2015' 'Dec-2014'
 'Jul-1961' 'Mar-1964' 'Aug-1963' 'Aug-1964' 'Apr-1963' 'Mar-1962'
 'May-1967' 'May-1961' 'Jan-1950' 'Feb-1961' 'Feb-1964' 'Jun-1966'
 'Dec-1960' 'Oct-1958' 'Jan-1952' 'Sep-1961' 'Aug-1959' 'Jan-1953'
 'Jul-1958' 'Jan-1956' 'Aug-1960' 'Nov-1963' 'Sep-1951' 'Jun-1959'
 'Nov-1959' 'Feb-1962' 'Apr-1961' 'Feb-1934' 'Mar-1960' 'Aug-1957'
 'Oct-1960' 'Dec-1958' 'Jun-1957' 'May-1960' 'Aug-1962' 'Nov-1952'
 'Aug-1958' 'Dec-1956' 'Aug-1953' 'Feb-1963' 'Apr-1934' 'Jul-1960'
 'Dec-1959' 'Feb-1959' 'Oct-1962' 'Jun-1962' 'Jun-1960']

In [111]:
def calculate_credit_history(date_str):
    if date_str is None:  
        return None  # Handle missing values
    
    earliest_cr_line = datetime.strptime(date_str, '%b-%Y')
    date_present = datetime.now()
    date_diff_days = (earliest_cr_line - date_present).days
    
    # Calculate the result as per the formula
    result = date_diff_days // (1000 * 60 * 60 * 24 * 30)
    
    return result

In [144]:
def calculate_credit_history(date_str):
    if date_str is None:  
        return None  # Handle missing values
    
    earliest_cr_line = datetime.strptime(date_str, '%b-%Y')
    date_present = datetime.now()
    date_diff = (date_present.year - earliest_cr_line.year) * 12 + (date_present.month - earliest_cr_line.month)

    # Convert the result to an integer by flooring it
    date_diff = int(date_diff)
    
    return date_diff

In [145]:
print(calculate_credit_history)

<function calculate_credit_history at 0x000001ED1E603920>

In [146]:
print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... debt_settlement_flag_date settlement_status  \
0             B3  ...                      None              None
1             A2  ...                      None              None
2             B4  ...                      None              None
3             C1  ...                      None              None
4             E1  ...                      None              None
...          ...  ...                       ...               ...
551447        C3  ...                      None              None
551448        B3  ...                      None              None
551449        C2  ...                      None              None
551450      None  ...                      None              None
551451      None  ...                      None              None

       settlement_date settlement_amount settlement_percentage  \
0                 None               NaN                   NaN
1                 None               NaN                   NaN
2                 None               NaN                   NaN
3                 None               NaN                   NaN
4                 None               NaN                   NaN
...                ...               ...                   ...
551447            None               NaN                   NaN
551448            None               NaN                   NaN
551449            None               NaN                   NaN
551450            None               NaN                   NaN
551451            None               NaN                   NaN

       settlement_term Quarter  Year     Label Risk_Score
0                  NaN      Q4  2017  Approved         80
1                  NaN      Q4  2017  Approved         80
2                  NaN      Q4  2017  Approved         80
3                  NaN      Q4  2017  Approved         80
4                  NaN      Q4  2017  Approved         80
...                ...     ...   ...       ...        ...
551447             NaN      Q1  2018  Approved         80
551448             NaN      Q1  2018  Approved         80
551449             NaN      Q1  2018  Approved         80
551450             NaN      Q1  2018  Approved         80
551451             NaN      Q1  2018  Approved         80

[551452 rows x 149 columns]

In [147]:
df['Credit_History'] = df['earliest_cr_line'].apply(calculate_credit_history)

In [148]:
print(df['Credit_History'])

0         163.0
1         152.0
2         365.0
3         317.0
4         190.0
          ...
551447    354.0
551448    303.0
551449    193.0
551450      NaN
551451      NaN
Name: Credit_History, Length: 551452, dtype: float64

In [149]:
min_value = df['Credit_History'].min()
max_value = df['Credit_History'].max()

# Print the results
print("Minimum value:", min_value)
print("Maximum value:", max_value)

Minimum value: 102.0
Maximum value: 1074.0

In [150]:
def update_risk_score(row):
    if row['Credit_History'] >= 48:
        return row['Risk_Score'] + 80
    elif row['Credit_History'] >= 24:
        return row['Risk_Score'] + 60
    elif row['Credit_History'] >= 12:
        return row['Risk_Score'] + 40
    else:
        return row['Risk_Score'] + 10

In [151]:
df['Risk_Score'] = df.apply(update_risk_score, axis=1)

In [152]:
print(df['Risk_Score'])

0         160
1         160
2         160
3         160
4         160
         ...
551447    160
551448    160
551449    160
551450     90
551451     90
Name: Risk_Score, Length: 551452, dtype: int64

In [153]:
def update_risk_score1(row):
    inq_last_6mths = row['inq_last_6mths']
    risk_score = row['Risk_Score']
    
    if inq_last_6mths >= 4:
        return risk_score + 20
    elif inq_last_6mths >= 3:
        return risk_score + 30
    elif inq_last_6mths >= 2:
        return risk_score + 50
    elif inq_last_6mths >= 1:
        return risk_score + 60
    else:
        return risk_score + 80

In [154]:
df['Risk_Score'] = df.apply(update_risk_score1, axis=1)

In [155]:
print(df['Risk_Score'])

0         240
1         240
2         240
3         240
4         220
         ...
551447    240
551448    240
551449    220
551450    170
551451    170
Name: Risk_Score, Length: 551452, dtype: int64

In [156]:
def update_risk_score2(row):
    num_actv_bc_tl = row['num_actv_bc_tl']
    risk_score = row['Risk_Score']
    
    if num_actv_bc_tl >= 4:
        return risk_score + 80
    elif num_actv_bc_tl >= 3:
        return risk_score + 60
    elif num_actv_bc_tl >= 2:
        return risk_score + 50
    elif num_actv_bc_tl >= 1:
        return risk_score + 30
    else:
        return risk_score + 10

# Apply the function to update the 'Risk_Score' column
df['Risk_Score'] = df.apply(update_risk_score2, axis=1)

print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... settlement_status settlement_date settlement_amount  \
0             B3  ...              None            None               NaN
1             A2  ...              None            None               NaN
2             B4  ...              None            None               NaN
3             C1  ...              None            None               NaN
4             E1  ...              None            None               NaN
...          ...  ...               ...             ...               ...
551447        C3  ...              None            None               NaN
551448        B3  ...              None            None               NaN
551449        C2  ...              None            None               NaN
551450      None  ...              None            None               NaN
551451      None  ...              None            None               NaN

       settlement_percentage settlement_term Quarter  Year     Label  \
0                        NaN             NaN      Q4  2017  Approved
1                        NaN             NaN      Q4  2017  Approved
2                        NaN             NaN      Q4  2017  Approved
3                        NaN             NaN      Q4  2017  Approved
4                        NaN             NaN      Q4  2017  Approved
...                      ...             ...     ...   ...       ...
551447                   NaN             NaN      Q1  2018  Approved
551448                   NaN             NaN      Q1  2018  Approved
551449                   NaN             NaN      Q1  2018  Approved
551450                   NaN             NaN      Q1  2018  Approved
551451                   NaN             NaN      Q1  2018  Approved

       Risk_Score Credit_History
0             320          163.0
1             300          152.0
2             320          365.0
3             300          317.0
4             230          190.0
...           ...            ...
551447        320          354.0
551448        300          303.0
551449        300          193.0
551450        180            NaN
551451        180            NaN

[551452 rows x 150 columns]

In [157]:
def update_risk_score3(row):
    dti = row['dti']
    risk_score = row['Risk_Score']
    
    if dti >= 500:
        return risk_score + 10
    elif dti >= 200:
        return risk_score + 20
    elif dti >= 100:
        return risk_score + 30
    elif dti >= 50:
        return risk_score + 50
    elif dti >= 20:
        return risk_score + 60
    elif dti >= 10:
        return risk_score + 70
    else:
        return risk_score + 80

# Apply the function to update the 'Risk_Score' column
df['Risk_Score'] = df.apply(update_risk_score3, axis=1)

print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... settlement_status settlement_date settlement_amount  \
0             B3  ...              None            None               NaN
1             A2  ...              None            None               NaN
2             B4  ...              None            None               NaN
3             C1  ...              None            None               NaN
4             E1  ...              None            None               NaN
...          ...  ...               ...             ...               ...
551447        C3  ...              None            None               NaN
551448        B3  ...              None            None               NaN
551449        C2  ...              None            None               NaN
551450      None  ...              None            None               NaN
551451      None  ...              None            None               NaN

       settlement_percentage settlement_term Quarter  Year     Label  \
0                        NaN             NaN      Q4  2017  Approved
1                        NaN             NaN      Q4  2017  Approved
2                        NaN             NaN      Q4  2017  Approved
3                        NaN             NaN      Q4  2017  Approved
4                        NaN             NaN      Q4  2017  Approved
...                      ...             ...     ...   ...       ...
551447                   NaN             NaN      Q1  2018  Approved
551448                   NaN             NaN      Q1  2018  Approved
551449                   NaN             NaN      Q1  2018  Approved
551450                   NaN             NaN      Q1  2018  Approved
551451                   NaN             NaN      Q1  2018  Approved

       Risk_Score Credit_History
0             380          163.0
1             380          152.0
2             380          365.0
3             360          317.0
4             310          190.0
...           ...            ...
551447        380          354.0
551448        370          303.0
551449        380          193.0
551450        260            NaN
551451        260            NaN

[551452 rows x 150 columns]

In [158]:
def update_risk_score4(row):
    mort_acc = row['mort_acc']
    risk_score = row['Risk_Score']
    
    if mort_acc >= 10:
        return risk_score + 10
    elif mort_acc >= 5:
        return risk_score + 30
    elif mort_acc >= 4:
        return risk_score + 40
    elif mort_acc >= 3:
        return risk_score + 50
    elif mort_acc >= 2:
        return risk_score + 60
    elif mort_acc >= 1:
        return risk_score + 70
    else:
        return risk_score + 80

# Apply the function to update the 'Risk_Score' column
df['Risk_Score'] = df.apply(update_risk_score4, axis=1)

print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... settlement_status settlement_date settlement_amount  \
0             B3  ...              None            None               NaN
1             A2  ...              None            None               NaN
2             B4  ...              None            None               NaN
3             C1  ...              None            None               NaN
4             E1  ...              None            None               NaN
...          ...  ...               ...             ...               ...
551447        C3  ...              None            None               NaN
551448        B3  ...              None            None               NaN
551449        C2  ...              None            None               NaN
551450      None  ...              None            None               NaN
551451      None  ...              None            None               NaN

       settlement_percentage settlement_term Quarter  Year     Label  \
0                        NaN             NaN      Q4  2017  Approved
1                        NaN             NaN      Q4  2017  Approved
2                        NaN             NaN      Q4  2017  Approved
3                        NaN             NaN      Q4  2017  Approved
4                        NaN             NaN      Q4  2017  Approved
...                      ...             ...     ...   ...       ...
551447                   NaN             NaN      Q1  2018  Approved
551448                   NaN             NaN      Q1  2018  Approved
551449                   NaN             NaN      Q1  2018  Approved
551450                   NaN             NaN      Q1  2018  Approved
551451                   NaN             NaN      Q1  2018  Approved

       Risk_Score Credit_History
0             460          163.0
1             460          152.0
2             430          365.0
3             430          317.0
4             390          190.0
...           ...            ...
551447        430          354.0
551448        440          303.0
551449        460          193.0
551450        340            NaN
551451        340            NaN

[551452 rows x 150 columns]

In [159]:
def update_risk_score5(row):
    hardship_flag = row['hardship_flag']
    risk_score = row['Risk_Score']
    
    if hardship_flag == 'Y':
        return risk_score + 0
    else:
        return risk_score + 40

# Apply the function to update the 'Risk_Score' column
df['Risk_Score'] = df.apply(update_risk_score5, axis=1)

print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... settlement_status settlement_date settlement_amount  \
0             B3  ...              None            None               NaN
1             A2  ...              None            None               NaN
2             B4  ...              None            None               NaN
3             C1  ...              None            None               NaN
4             E1  ...              None            None               NaN
...          ...  ...               ...             ...               ...
551447        C3  ...              None            None               NaN
551448        B3  ...              None            None               NaN
551449        C2  ...              None            None               NaN
551450      None  ...              None            None               NaN
551451      None  ...              None            None               NaN

       settlement_percentage settlement_term Quarter  Year     Label  \
0                        NaN             NaN      Q4  2017  Approved
1                        NaN             NaN      Q4  2017  Approved
2                        NaN             NaN      Q4  2017  Approved
3                        NaN             NaN      Q4  2017  Approved
4                        NaN             NaN      Q4  2017  Approved
...                      ...             ...     ...   ...       ...
551447                   NaN             NaN      Q1  2018  Approved
551448                   NaN             NaN      Q1  2018  Approved
551449                   NaN             NaN      Q1  2018  Approved
551450                   NaN             NaN      Q1  2018  Approved
551451                   NaN             NaN      Q1  2018  Approved

       Risk_Score Credit_History
0             500          163.0
1             500          152.0
2             470          365.0
3             470          317.0
4             430          190.0
...           ...            ...
551447        470          354.0
551448        480          303.0
551449        500          193.0
551450        380            NaN
551451        380            NaN

[551452 rows x 150 columns]

In [160]:
def update_risk_score6(row):
    debt_settlement_flag = row['debt_settlement_flag']
    risk_score = row['Risk_Score']
    
    if debt_settlement_flag == 'Y':
        return risk_score + 0
    else:
        return risk_score + 40

# Apply the function to update the 'Risk_Score' column
df['Risk_Score'] = df.apply(update_risk_score6, axis=1)

print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... settlement_status settlement_date settlement_amount  \
0             B3  ...              None            None               NaN
1             A2  ...              None            None               NaN
2             B4  ...              None            None               NaN
3             C1  ...              None            None               NaN
4             E1  ...              None            None               NaN
...          ...  ...               ...             ...               ...
551447        C3  ...              None            None               NaN
551448        B3  ...              None            None               NaN
551449        C2  ...              None            None               NaN
551450      None  ...              None            None               NaN
551451      None  ...              None            None               NaN

       settlement_percentage settlement_term Quarter  Year     Label  \
0                        NaN             NaN      Q4  2017  Approved
1                        NaN             NaN      Q4  2017  Approved
2                        NaN             NaN      Q4  2017  Approved
3                        NaN             NaN      Q4  2017  Approved
4                        NaN             NaN      Q4  2017  Approved
...                      ...             ...     ...   ...       ...
551447                   NaN             NaN      Q1  2018  Approved
551448                   NaN             NaN      Q1  2018  Approved
551449                   NaN             NaN      Q1  2018  Approved
551450                   NaN             NaN      Q1  2018  Approved
551451                   NaN             NaN      Q1  2018  Approved

       Risk_Score Credit_History
0             540          163.0
1             540          152.0
2             510          365.0
3             510          317.0
4             470          190.0
...           ...            ...
551447        510          354.0
551448        520          303.0
551449        540          193.0
551450        420            NaN
551451        420            NaN

[551452 rows x 150 columns]

In [161]:
def update_risk_score7(row):
    loan_status = row['loan_status']
    risk_score = row['Risk_Score']
    
    if loan_status == 'Default':
        return risk_score + 0
    elif loan_status == 'Charged Off':
        return risk_score + 10
    elif loan_status == 'Late (31-120 days)':
        return risk_score + 20
    elif loan_status == 'Late (16-30 days)':
        return risk_score + 30
    elif loan_status == 'In Grace Period':
        return risk_score + 40
    elif loan_status == 'Fully Paid':
        return risk_score + 50
    else:
        return risk_score + 80

# Apply the function to update the 'Risk_Score' column
df['Risk_Score'] = df.apply(update_risk_score7, axis=1)

print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... settlement_status settlement_date settlement_amount  \
0             B3  ...              None            None               NaN
1             A2  ...              None            None               NaN
2             B4  ...              None            None               NaN
3             C1  ...              None            None               NaN
4             E1  ...              None            None               NaN
...          ...  ...               ...             ...               ...
551447        C3  ...              None            None               NaN
551448        B3  ...              None            None               NaN
551449        C2  ...              None            None               NaN
551450      None  ...              None            None               NaN
551451      None  ...              None            None               NaN

       settlement_percentage settlement_term Quarter  Year     Label  \
0                        NaN             NaN      Q4  2017  Approved
1                        NaN             NaN      Q4  2017  Approved
2                        NaN             NaN      Q4  2017  Approved
3                        NaN             NaN      Q4  2017  Approved
4                        NaN             NaN      Q4  2017  Approved
...                      ...             ...     ...   ...       ...
551447                   NaN             NaN      Q1  2018  Approved
551448                   NaN             NaN      Q1  2018  Approved
551449                   NaN             NaN      Q1  2018  Approved
551450                   NaN             NaN      Q1  2018  Approved
551451                   NaN             NaN      Q1  2018  Approved

       Risk_Score Credit_History
0             620          163.0
1             620          152.0
2             590          365.0
3             590          317.0
4             550          190.0
...           ...            ...
551447        590          354.0
551448        600          303.0
551449        590          193.0
551450        500            NaN
551451        500            NaN

[551452 rows x 150 columns]

In [162]:
def update_risk_score8(row):
    int_rate = row['int_rate']
    risk_score = row['Risk_Score']
    
    if int_rate >= 20:
        return risk_score + 80
    elif int_rate >= 15:
        return risk_score + 60
    elif int_rate >= 10:
        return risk_score + 30
    elif int_rate >= 5:
        return risk_score + 10
    else:
        return risk_score + 0

# Apply the function to update the 'Risk_Score' column
df['Risk_Score'] = df.apply(update_risk_score8, axis=1)

print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... settlement_status settlement_date settlement_amount  \
0             B3  ...              None            None               NaN
1             A2  ...              None            None               NaN
2             B4  ...              None            None               NaN
3             C1  ...              None            None               NaN
4             E1  ...              None            None               NaN
...          ...  ...               ...             ...               ...
551447        C3  ...              None            None               NaN
551448        B3  ...              None            None               NaN
551449        C2  ...              None            None               NaN
551450      None  ...              None            None               NaN
551451      None  ...              None            None               NaN

       settlement_percentage settlement_term Quarter  Year     Label  \
0                        NaN             NaN      Q4  2017  Approved
1                        NaN             NaN      Q4  2017  Approved
2                        NaN             NaN      Q4  2017  Approved
3                        NaN             NaN      Q4  2017  Approved
4                        NaN             NaN      Q4  2017  Approved
...                      ...             ...     ...   ...       ...
551447                   NaN             NaN      Q1  2018  Approved
551448                   NaN             NaN      Q1  2018  Approved
551449                   NaN             NaN      Q1  2018  Approved
551450                   NaN             NaN      Q1  2018  Approved
551451                   NaN             NaN      Q1  2018  Approved

       Risk_Score Credit_History
0             650          163.0
1             630          152.0
2             620          365.0
3             620          317.0
4             630          190.0
...           ...            ...
551447        620          354.0
551448        630          303.0
551449        620          193.0
551450        500            NaN
551451        500            NaN

[551452 rows x 150 columns]

In [163]:
def update_risk_score9(row):
    pub_rec_bankruptcies = row['pub_rec_bankruptcies']
    risk_score = row['Risk_Score']
    
    if pub_rec_bankruptcies >= 5:
        return risk_score + 0
    elif pub_rec_bankruptcies >= 4:
        return risk_score + 10
    elif pub_rec_bankruptcies >= 3:
        return risk_score + 20
    elif pub_rec_bankruptcies >= 2:
        return risk_score + 30
    elif pub_rec_bankruptcies >= 1:
        return risk_score + 40
    else:
        return risk_score + 80

# Apply the function to update the 'Risk_Score' column
df['Risk_Score'] = df.apply(update_risk_score9, axis=1)

print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... settlement_status settlement_date settlement_amount  \
0             B3  ...              None            None               NaN
1             A2  ...              None            None               NaN
2             B4  ...              None            None               NaN
3             C1  ...              None            None               NaN
4             E1  ...              None            None               NaN
...          ...  ...               ...             ...               ...
551447        C3  ...              None            None               NaN
551448        B3  ...              None            None               NaN
551449        C2  ...              None            None               NaN
551450      None  ...              None            None               NaN
551451      None  ...              None            None               NaN

       settlement_percentage settlement_term Quarter  Year     Label  \
0                        NaN             NaN      Q4  2017  Approved
1                        NaN             NaN      Q4  2017  Approved
2                        NaN             NaN      Q4  2017  Approved
3                        NaN             NaN      Q4  2017  Approved
4                        NaN             NaN      Q4  2017  Approved
...                      ...             ...     ...   ...       ...
551447                   NaN             NaN      Q1  2018  Approved
551448                   NaN             NaN      Q1  2018  Approved
551449                   NaN             NaN      Q1  2018  Approved
551450                   NaN             NaN      Q1  2018  Approved
551451                   NaN             NaN      Q1  2018  Approved

       Risk_Score Credit_History
0             730          163.0
1             710          152.0
2             700          365.0
3             700          317.0
4             710          190.0
...           ...            ...
551447        700          354.0
551448        710          303.0
551449        700          193.0
551450        580            NaN
551451        580            NaN

[551452 rows x 150 columns]

In [164]:
def update_risk_score10(row):
    revol_bal = row['revol_bal']
    risk_score = row['Risk_Score']
    
    if pd.isna(revol_bal):  # MISSING_NUMERIC condition
        return risk_score + 30
    elif revol_bal >= 100000:
        return risk_score + 20
    elif revol_bal >= 75000:
        return risk_score + 30
    elif revol_bal >= 50000:
        return risk_score + 40
    elif revol_bal >= 10000:
        return risk_score + 50
    elif revol_bal >= 100:
        return risk_score + 80
    else:
        return risk_score + 60

# Apply the function to update the 'Risk_Score' column
df['Risk_Score'] = df.apply(update_risk_score10, axis=1)

print(df)

                                                      id member_id  loan_amnt  \
0                                                   None      None    20000.0
1                                                   None      None     7000.0
2                                                   None      None     6700.0
3                                                   None      None    18000.0
4                                                   None      None     1000.0
...                                                  ...       ...        ...
551447                                              None      None     4375.0
551448                                              None      None    12000.0
551449                                              None      None    14000.0
551450  Total amount funded in policy code 1: 1741781700      None        NaN
551451   Total amount funded in policy code 2: 539397275      None        NaN

        funded_amnt  funded_amnt_inv       term  int_rate  installment grade  \
0           20000.0          20000.0  36 months     10.42       649.30     B
1            7000.0           7000.0  36 months      6.08       213.21     A
2            6700.0           6700.0  36 months     10.91       219.07     B
3           18000.0          18000.0  36 months     12.62       603.21     C
4            1000.0           1000.0  36 months     22.91        38.67     E
...             ...              ...        ...       ...          ...   ...
551447       4375.0           4375.0  36 months     14.08       149.70     C
551448      12000.0          11975.0  36 months     10.42       389.58     B
551449      14000.0          13975.0  36 months     13.59       475.71     C
551450          NaN              NaN       None       NaN          NaN  None
551451          NaN              NaN       None       NaN          NaN  None

       sub_grade  ... settlement_status settlement_date settlement_amount  \
0             B3  ...              None            None               NaN
1             A2  ...              None            None               NaN
2             B4  ...              None            None               NaN
3             C1  ...              None            None               NaN
4             E1  ...              None            None               NaN
...          ...  ...               ...             ...               ...
551447        C3  ...              None            None               NaN
551448        B3  ...              None            None               NaN
551449        C2  ...              None            None               NaN
551450      None  ...              None            None               NaN
551451      None  ...              None            None               NaN

       settlement_percentage settlement_term Quarter  Year     Label  \
0                        NaN             NaN      Q4  2017  Approved
1                        NaN             NaN      Q4  2017  Approved
2                        NaN             NaN      Q4  2017  Approved
3                        NaN             NaN      Q4  2017  Approved
4                        NaN             NaN      Q4  2017  Approved
...                      ...             ...     ...   ...       ...
551447                   NaN             NaN      Q1  2018  Approved
551448                   NaN             NaN      Q1  2018  Approved
551449                   NaN             NaN      Q1  2018  Approved
551450                   NaN             NaN      Q1  2018  Approved
551451                   NaN             NaN      Q1  2018  Approved

       Risk_Score Credit_History
0             780          163.0
1             790          152.0
2             780          365.0
3             750          317.0
4             770          190.0
...           ...            ...
551447        750          354.0
551448        760          303.0
551449        780          193.0
551450        610            NaN
551451        610            NaN

[551452 rows x 150 columns]

In [165]:
column_names=df.columns
print(column_names)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term', 'Quarter', 'Year', 'Label',
       'Risk_Score', 'Credit_History'],
      dtype='object', length=150)

In [166]:
df.rename(columns={'Label': 'Application_status'}, inplace=True)

In [167]:
df.rename(columns={'title':'Loan Title'}, inplace=True)

In [168]:
df.rename(columns={'emp_length':'Employment Length'}, inplace=True)

In [169]:
df.rename(columns={'dti':'Debt-To-Income Ratio'}, inplace=True)

In [170]:
df.rename(columns={'loan_amnt':'Amount Requested'}, inplace=True)

In [171]:
print(df)

                                                      id member_id  \
0                                                   None      None
1                                                   None      None
2                                                   None      None
3                                                   None      None
4                                                   None      None
...                                                  ...       ...
551447                                              None      None
551448                                              None      None
551449                                              None      None
551450  Total amount funded in policy code 1: 1741781700      None
551451   Total amount funded in policy code 2: 539397275      None

        Amount Requested  funded_amnt  funded_amnt_inv       term  int_rate  \
0                20000.0      20000.0          20000.0  36 months     10.42
1                 7000.0       7000.0           7000.0  36 months      6.08
2                 6700.0       6700.0           6700.0  36 months     10.91
3                18000.0      18000.0          18000.0  36 months     12.62
4                 1000.0       1000.0           1000.0  36 months     22.91
...                  ...          ...              ...        ...       ...
551447            4375.0       4375.0           4375.0  36 months     14.08
551448           12000.0      12000.0          11975.0  36 months     10.42
551449           14000.0      14000.0          13975.0  36 months     13.59
551450               NaN          NaN              NaN       None       NaN
551451               NaN          NaN              NaN       None       NaN

        installment grade sub_grade  ... settlement_status settlement_date  \
0            649.30     B        B3  ...              None            None
1            213.21     A        A2  ...              None            None
2            219.07     B        B4  ...              None            None
3            603.21     C        C1  ...              None            None
4             38.67     E        E1  ...              None            None
...             ...   ...       ...  ...               ...             ...
551447       149.70     C        C3  ...              None            None
551448       389.58     B        B3  ...              None            None
551449       475.71     C        C2  ...              None            None
551450          NaN  None      None  ...              None            None
551451          NaN  None      None  ...              None            None

       settlement_amount settlement_percentage settlement_term Quarter  Year  \
0                    NaN                   NaN             NaN      Q4  2017
1                    NaN                   NaN             NaN      Q4  2017
2                    NaN                   NaN             NaN      Q4  2017
3                    NaN                   NaN             NaN      Q4  2017
4                    NaN                   NaN             NaN      Q4  2017
...                  ...                   ...             ...     ...   ...
551447               NaN                   NaN             NaN      Q1  2018
551448               NaN                   NaN             NaN      Q1  2018
551449               NaN                   NaN             NaN      Q1  2018
551450               NaN                   NaN             NaN      Q1  2018
551451               NaN                   NaN             NaN      Q1  2018

       Application_status Risk_Score Credit_History
0                Approved        780          163.0
1                Approved        790          152.0
2                Approved        780          365.0
3                Approved        750          317.0
4                Approved        770          190.0
...                   ...        ...            ...
551447           Approved        750          354.0
551448           Approved        760          303.0
551449           Approved        780          193.0
551450           Approved        610            NaN
551451           Approved        610            NaN

[551452 rows x 150 columns]

In [172]:
print(df['Amount Requested'])

0         20000.0
1          7000.0
2          6700.0
3         18000.0
4          1000.0
           ...
551447     4375.0
551448    12000.0
551449    14000.0
551450        NaN
551451        NaN
Name: Amount Requested, Length: 551452, dtype: float64

In [173]:
df['Amount Requested'].isnull().any()

True

In [174]:
column_name='Amount Requested'
null_rows = df.loc[df[column_name].isnull()]
print(null_rows)

                                                      id member_id  \
115904  Total amount funded in policy code 1: 1817354125      None
115905   Total amount funded in policy code 2: 592843163      None
260618  Total amount funded in policy code 1: 1437969475      None
260619   Total amount funded in policy code 2: 519691874      None
366071  Total amount funded in policy code 1: 1538432075      None
366072   Total amount funded in policy code 2: 603225638      None
488774  Total amount funded in policy code 1: 1791201400      None
488775   Total amount funded in policy code 2: 640990301      None
551450  Total amount funded in policy code 1: 1741781700      None
551451   Total amount funded in policy code 2: 539397275      None

        Amount Requested  funded_amnt  funded_amnt_inv  term  int_rate  \
115904               NaN          NaN              NaN  None       NaN
115905               NaN          NaN              NaN  None       NaN
260618               NaN          NaN              NaN  None       NaN
260619               NaN          NaN              NaN  None       NaN
366071               NaN          NaN              NaN  None       NaN
366072               NaN          NaN              NaN  None       NaN
488774               NaN          NaN              NaN  None       NaN
488775               NaN          NaN              NaN  None       NaN
551450               NaN          NaN              NaN  None       NaN
551451               NaN          NaN              NaN  None       NaN

        installment grade sub_grade  ... settlement_status settlement_date  \
115904          NaN  None      None  ...              None            None
115905          NaN  None      None  ...              None            None
260618          NaN  None      None  ...              None            None
260619          NaN  None      None  ...              None            None
366071          NaN  None      None  ...              None            None
366072          NaN  None      None  ...              None            None
488774          NaN  None      None  ...              None            None
488775          NaN  None      None  ...              None            None
551450          NaN  None      None  ...              None            None
551451          NaN  None      None  ...              None            None

       settlement_amount settlement_percentage settlement_term Quarter  Year  \
115904               NaN                   NaN             NaN      Q4  2017
115905               NaN                   NaN             NaN      Q4  2017
260618               NaN                   NaN             NaN      Q1  2017
260619               NaN                   NaN             NaN      Q1  2017
366071               NaN                   NaN             NaN      Q2  2017
366072               NaN                   NaN             NaN      Q2  2017
488774               NaN                   NaN             NaN      Q3  2017
488775               NaN                   NaN             NaN      Q3  2017
551450               NaN                   NaN             NaN      Q1  2018
551451               NaN                   NaN             NaN      Q1  2018

       Application_status Risk_Score Credit_History
115904           Approved        610            NaN
115905           Approved        610            NaN
260618           Approved        610            NaN
260619           Approved        610            NaN
366071           Approved        610            NaN
366072           Approved        610            NaN
488774           Approved        610            NaN
488775           Approved        610            NaN
551450           Approved        610            NaN
551451           Approved        610            NaN

[10 rows x 150 columns]

In [175]:
column_name = 'Amount Requested'

# Delete rows with null values in the specified column
df = df.dropna(subset=[column_name])

In [176]:
print(df.count())

id                         0
member_id                  0
Amount Requested      551442
funded_amnt           551442
funded_amnt_inv       551442
                       ...
Quarter               551442
Year                  551442
Application_status    551442
Risk_Score            551442
Credit_History        551442
Length: 150, dtype: int64

In [177]:
df['Application_status'].isnull().any()

False

In [178]:
df['Debt-To-Income Ratio'].isnull().any()

True

In [179]:
column_name='Debt-To-Income Ratio'

null_rows = df.loc[df[column_name].isnull()]
print(null_rows)

          id member_id  Amount Requested  funded_amnt  funded_amnt_inv  \
421     None      None           40000.0      40000.0          40000.0
1325    None      None           24000.0      24000.0          24000.0
1511    None      None            4200.0       4200.0           4200.0
2035    None      None           26000.0      26000.0          26000.0
2250    None      None            7000.0       7000.0           7000.0
...      ...       ...               ...          ...              ...
547565  None      None            6000.0       6000.0           6000.0
548650  None      None           10000.0      10000.0          10000.0
548800  None      None           10000.0      10000.0          10000.0
550823  None      None           28000.0      28000.0          28000.0
551322  None      None           24000.0      24000.0          23975.0

             term  int_rate  installment grade sub_grade  ...  \
421     36 months     14.08      1368.66     C        C3  ...
1325    36 months     12.62       804.27     C        C1  ...
1511    36 months     12.62       140.75     C        C1  ...
2035    60 months     26.30       783.08     E        E5  ...
2250    36 months     10.42       227.26     B        B3  ...
...           ...       ...          ...   ...       ...  ...
547565  36 months      9.44       192.03     B        B1  ...
548650  36 months      7.97       313.23     A        A5  ...
548800  60 months     13.59       230.57     C        C2  ...
550823  60 months     14.08       652.68     C        C3  ...
551322  36 months     10.42       779.16     B        B3  ...

       settlement_status settlement_date settlement_amount  \
421                 None            None               NaN
1325                None            None               NaN
1511                None            None               NaN
2035                None            None               NaN
2250                None            None               NaN
...                  ...             ...               ...
547565              None            None               NaN
548650              None            None               NaN
548800              None            None               NaN
550823              None            None               NaN
551322              None            None               NaN

       settlement_percentage settlement_term Quarter  Year Application_status  \
421                      NaN             NaN      Q4  2017           Approved
1325                     NaN             NaN      Q4  2017           Approved
1511                     NaN             NaN      Q4  2017           Approved
2035                     NaN             NaN      Q4  2017           Approved
2250                     NaN             NaN      Q4  2017           Approved
...                      ...             ...     ...   ...                ...
547565                   NaN             NaN      Q1  2018           Approved
548650                   NaN             NaN      Q1  2018           Approved
548800                   NaN             NaN      Q1  2018           Approved
550823                   NaN             NaN      Q1  2018           Approved
551322                   NaN             NaN      Q1  2018           Approved

       Risk_Score Credit_History
421           710          186.0
1325          670          228.0
1511          750          289.0
2035          780          267.0
2250          780          136.0
...           ...            ...
547565        780          150.0
548650        780          203.0
548800        800          115.0
550823        720          255.0
551322        780          134.0

[776 rows x 150 columns]

In [180]:
df['Employment Length'].isnull().any()

False

In [181]:
df['Loan Title'].isnull().any()

False

In [182]:
column_name = 'Employment Length' 
value_to_find = 'n/a'
# Print rows with the specified value in the specified column 
rows_with_value = df.loc[df[column_name] == value_to_find]

In [183]:
column_name1 = 'Loan Title' 
value_to_find1 = 'Other'
# Print rows with the specified value in the specified column 
rows_with_value1 = df.loc[df[column_name1] == value_to_find1]

In [184]:
print(rows_with_value1)

          id member_id  Amount Requested  funded_amnt  funded_amnt_inv  \
0       None      None           20000.0      20000.0          20000.0
1       None      None            7000.0       7000.0           7000.0
4       None      None            1000.0       1000.0           1000.0
12      None      None            4800.0       4800.0           4800.0
16      None      None           20000.0      20000.0          20000.0
...      ...       ...               ...          ...              ...
551371  None      None            8600.0       8600.0           8575.0
551399  None      None           35000.0      35000.0          34975.0
551407  None      None           15000.0      15000.0          14950.0
551409  None      None           11000.0      11000.0          10975.0
551423  None      None            1500.0       1500.0           1500.0

             term  int_rate  installment grade sub_grade  ...  \
0       36 months     10.42       649.30     B        B3  ...
1       36 months      6.08       213.21     A        A2  ...
4       36 months     22.91        38.67     E        E1  ...
12      36 months     16.02       168.81     C        C5  ...
16      36 months      9.44       640.10     B        B1  ...
...           ...       ...          ...   ...       ...  ...
551371  36 months     19.03       315.38     D        D3  ...
551399  60 months     10.42       750.91     B        B3  ...
551407  36 months     15.05       520.35     C        C4  ...
551409  36 months      7.97       344.55     A        A5  ...
551423  36 months     18.06        54.28     D        D2  ...

       settlement_status settlement_date settlement_amount  \
0                   None            None               NaN
1                   None            None               NaN
4                   None            None               NaN
12                  None            None               NaN
16                  None            None               NaN
...                  ...             ...               ...
551371              None            None               NaN
551399              None            None               NaN
551407              None            None               NaN
551409              None            None               NaN
551423              None            None               NaN

       settlement_percentage settlement_term Quarter  Year Application_status  \
0                        NaN             NaN      Q4  2017           Approved
1                        NaN             NaN      Q4  2017           Approved
4                        NaN             NaN      Q4  2017           Approved
12                       NaN             NaN      Q4  2017           Approved
16                       NaN             NaN      Q4  2017           Approved
...                      ...             ...     ...   ...                ...
551371                   NaN             NaN      Q1  2018           Approved
551399                   NaN             NaN      Q1  2018           Approved
551407                   NaN             NaN      Q1  2018           Approved
551409                   NaN             NaN      Q1  2018           Approved
551423                   NaN             NaN      Q1  2018           Approved

       Risk_Score Credit_History
0             780          163.0
1             790          152.0
4             770          190.0
12            770          208.0
16            720          341.0
...           ...            ...
551371        780          309.0
551399        720          394.0
551407        730          279.0
551409        720          401.0
551423        820          263.0

[42793 rows x 150 columns]

In [187]:
# Specify the columns you want to extract
wanted_columns = ['Amount Requested','Application_status','Debt-To-Income Ratio','Employment Length','Loan Title','Risk_Score']
condition_column = 'Employment Length'
condition_value ='n/a'
# Extract specific columns and rows with non-null values
df = df.loc[(df['Debt-To-Income Ratio'].notnull()) & (df[condition_column] != condition_value)&(df['Loan Title'] != 'Other'), wanted_columns]

print(df)

        Amount Requested Application_status  Debt-To-Income Ratio  \
2                 6700.0           Approved                 20.00
3                18000.0           Approved                 25.09
5                12000.0           Approved                  4.90
6                10500.0           Approved                 35.57
7                 8000.0           Approved                 18.39
...                  ...                ...                   ...
551445           18000.0           Approved                 15.37
551446            6000.0           Approved                 28.93
551447            4375.0           Approved                 33.72
551448           12000.0           Approved                 11.10
551449           14000.0           Approved                  1.35

       Employment Length               Loan Title  Risk_Score
2                8 years       Debt consolidation         780
3                2 years       Debt consolidation         750
5              10+ years       Debt consolidation         690
6              10+ years  Credit card refinancing         700
7                7 years       Debt consolidation         770
...                  ...                      ...         ...
551445         10+ years       Debt consolidation         790
551446         10+ years       Debt consolidation         790
551447         10+ years         Home improvement         750
551448           8 years       Debt consolidation         760
551449           2 years            Car financing         780

[471075 rows x 6 columns]

In [188]:
df['Risk_Score'].isnull().any()

False

In [189]:
df.to_csv('updatedapprov.csv', index=False)

In [5]:
sql1='select * from LENDINGAI_DB.LENDINGAI_SCH.REJECTEDLOANAPPLICATIONS;'

In [6]:
res1=conn.cursor().execute(sql1).fetchall()

In [7]:
df1=pd.read_sql(sql1,conn)
df1.info()

C:\Users\ashritha.kanukula\AppData\Local\Temp\ipykernel_11144\2033228438.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1=pd.read_sql(sql1,conn)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8947707 entries, 0 to 8947706
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   Application Date      object
 1   Loan Title            object
 2   Debt-To-Income Ratio  object
 3   Zip Code              object
 4   State                 object
 5   Employment Length     object
 6   Quarter               object
 7   Label                 object
 8   Amount Requested      float64
 9   Risk_Score            float64
 10  Policy Code           float64
 11  Year                  int64
dtypes: float64(3), int64(1), object(8)
memory usage: 819.2+ MB

In [8]:
print(df1)

        Application Date          Loan Title Debt-To-Income Ratio Zip Code  \
0             2018-01-01  Debt consolidation               38.85%    488xx
1             2018-01-01       Car financing                   0%    773xx
2             2018-01-01            Business                0.55%    330xx
3             2018-01-01         Home buying                 8.4%    307xx
4             2018-01-01  Debt consolidation               24.22%    212xx
...                  ...                 ...                  ...      ...
8947702       2017-05-28  Debt consolidation               14.67%    711xx
8947703       2017-05-28            Business               11.72%    270xx
8947704       2017-05-28              moving                6.24%    276xx
8947705       2017-05-28  Debt consolidation                36.2%    334xx
8947706       2017-05-28  debt_consolidation               15.29%    531xx

        State Employment Length Quarter     Label  Amount Requested  \
0          MI          < 1 year      Q1  Rejected            6000.0
1          TX          < 1 year      Q1  Rejected            5000.0
2          FL          < 1 year      Q1  Rejected           10000.0
3          GA          < 1 year      Q1  Rejected           10000.0
4          MD          < 1 year      Q1  Rejected           15000.0
...       ...               ...     ...       ...               ...
8947702    LA          < 1 year      Q2  Rejected           10000.0
8947703    NC          < 1 year      Q2  Rejected            5000.0
8947704    NC           5 years      Q2  Rejected            1000.0
8947705    FL          < 1 year      Q2  Rejected           20000.0
8947706    WI          < 1 year      Q2  Rejected            5000.0

         Risk_Score  Policy Code  Year
0             668.0          0.0  2018
1             514.0          0.0  2018
2             603.0          0.0  2018
3             666.0          0.0  2018
4             629.0          0.0  2018
...             ...          ...   ...
8947702       693.0          0.0  2017
8947703       631.0          0.0  2017
8947704         NaN          0.0  2017
8947705       627.0          0.0  2017
8947706         NaN          0.0  2017

[8947707 rows x 12 columns]

In [10]:
df1['Amount Requested'].isnull().any()

False

In [11]:
df1['Debt-To-Income Ratio'].isnull().any()

False

In [12]:
df1['Loan Title'].isnull().any()

True

In [13]:
df1['Label'].isnull().any()

False

In [14]:
df1['Employment Length'].isnull().any()

False

In [15]:
def convert_to_numerical(value):
    return float(value.strip('%')) / 100

# Apply the conversion function to the DataFrame column
df1['Debt-To-Income Ratio'] = df1['Debt-To-Income Ratio'].apply(convert_to_numerical)

# Format numerical values with precision (.2f)
df1['Debt-To-Income Ratio'] = df1['Debt-To-Income Ratio'].apply(lambda x: f'{x:.2f}')

# Display the updated DataFrame
print(df1)

        Application Date          Loan Title Debt-To-Income Ratio Zip Code  \
0             2018-01-01  Debt consolidation                 0.39    488xx
1             2018-01-01       Car financing                 0.00    773xx
2             2018-01-01            Business                 0.01    330xx
3             2018-01-01         Home buying                 0.08    307xx
4             2018-01-01  Debt consolidation                 0.24    212xx
...                  ...                 ...                  ...      ...
8947702       2017-05-28  Debt consolidation                 0.15    711xx
8947703       2017-05-28            Business                 0.12    270xx
8947704       2017-05-28              moving                 0.06    276xx
8947705       2017-05-28  Debt consolidation                 0.36    334xx
8947706       2017-05-28  debt_consolidation                 0.15    531xx

        State Employment Length Quarter     Label  Amount Requested  \
0          MI          < 1 year      Q1  Rejected            6000.0
1          TX          < 1 year      Q1  Rejected            5000.0
2          FL          < 1 year      Q1  Rejected           10000.0
3          GA          < 1 year      Q1  Rejected           10000.0
4          MD          < 1 year      Q1  Rejected           15000.0
...       ...               ...     ...       ...               ...
8947702    LA          < 1 year      Q2  Rejected           10000.0
8947703    NC          < 1 year      Q2  Rejected            5000.0
8947704    NC           5 years      Q2  Rejected            1000.0
8947705    FL          < 1 year      Q2  Rejected           20000.0
8947706    WI          < 1 year      Q2  Rejected            5000.0

         Risk_Score  Policy Code  Year
0             668.0          0.0  2018
1             514.0          0.0  2018
2             603.0          0.0  2018
3             666.0          0.0  2018
4             629.0          0.0  2018
...             ...          ...   ...
8947702       693.0          0.0  2017
8947703       631.0          0.0  2017
8947704         NaN          0.0  2017
8947705       627.0          0.0  2017
8947706         NaN          0.0  2017

[8947707 rows x 12 columns]

In [16]:
df1.rename(columns={'Label': 'Application_status'}, inplace=True)

In [17]:
print(df1)

        Application Date          Loan Title Debt-To-Income Ratio Zip Code  \
0             2018-01-01  Debt consolidation                 0.39    488xx
1             2018-01-01       Car financing                 0.00    773xx
2             2018-01-01            Business                 0.01    330xx
3             2018-01-01         Home buying                 0.08    307xx
4             2018-01-01  Debt consolidation                 0.24    212xx
...                  ...                 ...                  ...      ...
8947702       2017-05-28  Debt consolidation                 0.15    711xx
8947703       2017-05-28            Business                 0.12    270xx
8947704       2017-05-28              moving                 0.06    276xx
8947705       2017-05-28  Debt consolidation                 0.36    334xx
8947706       2017-05-28  debt_consolidation                 0.15    531xx

        State Employment Length Quarter Application_status  Amount Requested  \
0          MI          < 1 year      Q1           Rejected            6000.0
1          TX          < 1 year      Q1           Rejected            5000.0
2          FL          < 1 year      Q1           Rejected           10000.0
3          GA          < 1 year      Q1           Rejected           10000.0
4          MD          < 1 year      Q1           Rejected           15000.0
...       ...               ...     ...                ...               ...
8947702    LA          < 1 year      Q2           Rejected           10000.0
8947703    NC          < 1 year      Q2           Rejected            5000.0
8947704    NC           5 years      Q2           Rejected            1000.0
8947705    FL          < 1 year      Q2           Rejected           20000.0
8947706    WI          < 1 year      Q2           Rejected            5000.0

         Risk_Score  Policy Code  Year
0             668.0          0.0  2018
1             514.0          0.0  2018
2             603.0          0.0  2018
3             666.0          0.0  2018
4             629.0          0.0  2018
...             ...          ...   ...
8947702       693.0          0.0  2017
8947703       631.0          0.0  2017
8947704         NaN          0.0  2017
8947705       627.0          0.0  2017
8947706         NaN          0.0  2017

[8947707 rows x 12 columns]

In [18]:
title_mapping = {
    'medical': 'medical expenses'
}

# Replace similar loan titles using the mapping
df1['Loan Title'] = df1['Loan Title'].replace(title_mapping)

# Display the updated DataFrame
print(df1)

        Application Date          Loan Title Debt-To-Income Ratio Zip Code  \
0             2018-01-01  Debt consolidation                 0.39    488xx
1             2018-01-01       Car financing                 0.00    773xx
2             2018-01-01            Business                 0.01    330xx
3             2018-01-01         Home buying                 0.08    307xx
4             2018-01-01  Debt consolidation                 0.24    212xx
...                  ...                 ...                  ...      ...
8947702       2017-05-28  Debt consolidation                 0.15    711xx
8947703       2017-05-28            Business                 0.12    270xx
8947704       2017-05-28              moving                 0.06    276xx
8947705       2017-05-28  Debt consolidation                 0.36    334xx
8947706       2017-05-28  debt_consolidation                 0.15    531xx

        State Employment Length Quarter Application_status  Amount Requested  \
0          MI          < 1 year      Q1           Rejected            6000.0
1          TX          < 1 year      Q1           Rejected            5000.0
2          FL          < 1 year      Q1           Rejected           10000.0
3          GA          < 1 year      Q1           Rejected           10000.0
4          MD          < 1 year      Q1           Rejected           15000.0
...       ...               ...     ...                ...               ...
8947702    LA          < 1 year      Q2           Rejected           10000.0
8947703    NC          < 1 year      Q2           Rejected            5000.0
8947704    NC           5 years      Q2           Rejected            1000.0
8947705    FL          < 1 year      Q2           Rejected           20000.0
8947706    WI          < 1 year      Q2           Rejected            5000.0

         Risk_Score  Policy Code  Year
0             668.0          0.0  2018
1             514.0          0.0  2018
2             603.0          0.0  2018
3             666.0          0.0  2018
4             629.0          0.0  2018
...             ...          ...   ...
8947702       693.0          0.0  2017
8947703       631.0          0.0  2017
8947704         NaN          0.0  2017
8947705       627.0          0.0  2017
8947706         NaN          0.0  2017

[8947707 rows x 12 columns]

In [19]:
column_names = df1.columns
print(column_names)

Index(['Application Date', 'Loan Title', 'Debt-To-Income Ratio', 'Zip Code',
       'State', 'Employment Length', 'Quarter', 'Application_status',
       'Amount Requested', 'Risk_Score', 'Policy Code', 'Year'],
      dtype='object')

In [22]:
column_name = 'Employment Length' 
value_to_find = 'n/a'
# Print rows with the specified value in the specified column 
rows_with_value = df1.loc[df1[column_name] == value_to_find]

In [23]:
print(rows_with_value)

        Application Date          Loan Title Debt-To-Income Ratio Zip Code  \
258           2018-01-01               Other                 0.07    712xx
435           2018-01-01  Debt consolidation                 0.06    437xx
528           2018-01-01         Home buying                 0.22    370xx
673           2018-01-01               Other                 0.25    532xx
757           2018-01-01               Other                 0.23    128xx
...                  ...                 ...                  ...      ...
8947561       2017-05-28    home_improvement                 0.35    630xx
8947591       2017-05-28         credit_card                 0.43    285xx
8947608       2017-05-28               other                 0.00    212xx
8947639       2017-05-28         credit_card                 0.24    786xx
8947662       2017-05-28               other                 0.00    612xx

        State Employment Length Quarter Application_status  Amount Requested  \
258        LA               n/a      Q1           Rejected            1500.0
435        OH               n/a      Q1           Rejected            7500.0
528        TN               n/a      Q1           Rejected            6000.0
673        WI               n/a      Q1           Rejected            2500.0
757        NY               n/a      Q1           Rejected           20000.0
...       ...               ...     ...                ...               ...
8947561    MO               n/a      Q2           Rejected           10000.0
8947591    NC               n/a      Q2           Rejected           35000.0
8947608    MD               n/a      Q2           Rejected            5000.0
8947639    TX               n/a      Q2           Rejected            6000.0
8947662    IL               n/a      Q2           Rejected            1000.0

         Risk_Score  Policy Code  Year
258           661.0          0.0  2018
435           574.0          0.0  2018
528           690.0          0.0  2018
673           589.0          0.0  2018
757           706.0          0.0  2018
...             ...          ...   ...
8947561         NaN          0.0  2017
8947591         NaN          0.0  2017
8947608         NaN          0.0  2017
8947639         NaN          0.0  2017
8947662       563.0          0.0  2017

[323400 rows x 12 columns]

In [24]:
column_name = 'Loan Title' 
value_to_find = 'other'
# Print rows with the specified value in the specified column 
rows_with_value = df1.loc[df1[column_name] == value_to_find]

In [25]:
print(rows_with_value)

        Application Date Loan Title Debt-To-Income Ratio Zip Code State  \
1131660       2018-02-24      other                 0.35    924xx    CA
1869849       2017-09-16      other                 0.18    317xx    GA
1869855       2017-09-16      other                 0.03    470xx    IN
1869872       2017-09-16      other                 0.42    925xx    CA
1869876       2017-09-16      other                 0.04    852xx    AZ
...                  ...        ...                  ...      ...   ...
8947662       2017-05-28      other                 0.00    612xx    IL
8947669       2017-05-28      other                 0.00    337xx    FL
8947671       2017-05-28      other                 0.14    480xx    MI
8947691       2017-05-28      other                 0.24    027xx    MA
8947694       2017-05-28      other                 0.08    432xx    OH

        Employment Length Quarter Application_status  Amount Requested  \
1131660          < 1 year      Q1           Rejected            3000.0
1869849           5 years      Q3           Rejected            1000.0
1869855          < 1 year      Q3           Rejected            4000.0
1869872          < 1 year      Q3           Rejected            4000.0
1869876          < 1 year      Q3           Rejected           10000.0
...                   ...     ...                ...               ...
8947662               n/a      Q2           Rejected            1000.0
8947669          < 1 year      Q2           Rejected           10000.0
8947671           5 years      Q2           Rejected            2500.0
8947691           5 years      Q2           Rejected            5000.0
8947694           3 years      Q2           Rejected           10000.0

         Risk_Score  Policy Code  Year
1131660         NaN          0.0  2018
1869849         NaN          0.0  2017
1869855         NaN          0.0  2017
1869872         NaN          0.0  2017
1869876         NaN          0.0  2017
...             ...          ...   ...
8947662       563.0          0.0  2017
8947669         NaN          0.0  2017
8947671         NaN          0.0  2017
8947691         NaN          0.0  2017
8947694         NaN          0.0  2017

[606028 rows x 12 columns]

In [26]:
column_name = 'Loan Title' 
value_to_find = 'Other'
# Print rows with the specified value in the specified column 
rows_with_value = df1.loc[df1[column_name] == value_to_find]

In [27]:
print(rows_with_value)

        Application Date Loan Title Debt-To-Income Ratio Zip Code State  \
6             2018-01-01      Other                 0.13    462xx    IN
7             2018-01-01      Other                 0.02    984xx    WA
10            2018-01-01      Other                 0.28    891xx    NV
11            2018-01-01      Other                 0.47    310xx    GA
19            2018-01-01      Other                 0.10    405xx    KY
...                  ...        ...                  ...      ...   ...
8947549       2017-05-28      Other                 1.00    745xx    OK
8947555       2017-05-28      Other                 0.00    331xx    FL
8947605       2017-05-28      Other                 1.00    300xx    GA
8947653       2017-05-28      Other                 0.18    221xx    VA
8947678       2017-05-28      Other                 0.25    240xx    VA

        Employment Length Quarter Application_status  Amount Requested  \
6                < 1 year      Q1           Rejected            2500.0
7                < 1 year      Q1           Rejected            1500.0
10               < 1 year      Q1           Rejected            1900.0
11               < 1 year      Q1           Rejected           21500.0
19               < 1 year      Q1           Rejected            3000.0
...                   ...     ...                ...               ...
8947549          < 1 year      Q2           Rejected           10000.0
8947555          < 1 year      Q2           Rejected            5000.0
8947605          < 1 year      Q2           Rejected            4000.0
8947653          < 1 year      Q2           Rejected            1000.0
8947678          < 1 year      Q2           Rejected            3000.0

         Risk_Score  Policy Code  Year
6             680.0          0.0  2018
7             690.0          0.0  2018
10            572.0          0.0  2018
11            723.0          0.0  2018
19            548.0          0.0  2018
...             ...          ...   ...
8947549         NaN          0.0  2017
8947555       561.0          0.0  2017
8947605         NaN          0.0  2017
8947653       544.0          0.0  2017
8947678       676.0          0.0  2017

[1004008 rows x 12 columns]

In [28]:
column_name = 'Risk_Score'
null_count = df1[column_name].isnull().sum()
print(f"Number of null values in '{column_name}': {null_count}")

Number of null values in 'Risk_Score': 4717663

In [31]:
wanted_columns = ['Debt-To-Income Ratio', 'Employment Length','Loan Title','Application_status','Amount Requested','Risk_Score'] 
condition_column = 'Employment Length' 
condition_value = 'n/a'
# Extract specific columns and specific rows with the condition 
df1= df1.loc[df1[condition_column] != condition_value, wanted_columns] 
df1= df1.loc[(df1['Loan Title'].notnull())&(df1['Risk_Score'].notnull())&(df1[condition_column] != condition_value)&(df1['Loan Title'] != 'other')&(df1['Loan Title'] != 'Other'), wanted_columns]

In [32]:
print(df1)

        Debt-To-Income Ratio Employment Length          Loan Title  \
0                       0.39          < 1 year  Debt consolidation
1                       0.00          < 1 year       Car financing
2                       0.01          < 1 year            Business
3                       0.08          < 1 year         Home buying
4                       0.24          < 1 year  Debt consolidation
...                      ...               ...                 ...
8947699                 0.06           4 years  debt_consolidation
8947701                 0.09          < 1 year  Debt consolidation
8947702                 0.15          < 1 year  Debt consolidation
8947703                 0.12          < 1 year            Business
8947705                 0.36          < 1 year  Debt consolidation

        Application_status  Amount Requested  Risk_Score
0                 Rejected            6000.0       668.0
1                 Rejected            5000.0       514.0
2                 Rejected           10000.0       603.0
3                 Rejected           10000.0       666.0
4                 Rejected           15000.0       629.0
...                    ...               ...         ...
8947699           Rejected            5000.0       609.0
8947701           Rejected           20000.0       519.0
8947702           Rejected           10000.0       693.0
8947703           Rejected            5000.0       631.0
8947705           Rejected           20000.0       627.0

[3475360 rows x 6 columns]

In [33]:
df1['Debt-To-Income Ratio'].isnull().any()

False

In [34]:
df1['Risk_Score'].isnull().any()

False

In [35]:
df1.to_csv('rejected_before_stratified.csv', index=False)

In [36]:
df2= pd.read_csv('rejected_before_stratified.csv')

In [37]:
df2.head()

,Debt-To-Income Ratio,Employment Length,Loan Title,Application_status,Amount Requested,Risk_Score
0,0.39,< 1 year,Debt consolidation,Rejected,6000.0,668.0
1,0.00,< 1 year,Car financing,Rejected,5000.0,514.0
2,0.01,< 1 year,Business,Rejected,10000.0,603.0
3,0.08,< 1 year,Home buying,Rejected,10000.0,666.0
4,0.24,< 1 year,Debt consolidation,Rejected,15000.0,629.0

In [38]:
#Apply stratified sampling to overcome class imbalance
df2=df2.groupby('Application_status', group_keys=False).apply(lambda x: x.sample(frac=0.2))

In [39]:
print(df2)

         Debt-To-Income Ratio Employment Length               Loan Title  \
1571907                  0.12          < 1 year  Credit card refinancing
1287903                  0.06          < 1 year       Debt consolidation
2763860                  0.31          < 1 year       Debt consolidation
2455085                  0.01          < 1 year         Home improvement
3141142                  0.06          < 1 year                 Business
...                       ...               ...                      ...
2510489                  0.15          < 1 year         Home improvement
1375557                  0.04          < 1 year    Moving and relocation
3273084                  0.19          < 1 year            Car financing
1788300                  0.38          < 1 year  Credit card refinancing
707570                   0.10         10+ years  Credit card refinancing

        Application_status  Amount Requested  Risk_Score
1571907           Rejected           15000.0       644.0
1287903           Rejected           10000.0       541.0
2763860           Rejected            6000.0       605.0
2455085           Rejected            1000.0       501.0
3141142           Rejected            3000.0       553.0
...                    ...               ...         ...
2510489           Rejected           40000.0       646.0
1375557           Rejected            1000.0       549.0
3273084           Rejected           40000.0       656.0
1788300           Rejected           10000.0       648.0
707570            Rejected           10000.0       683.0

[695072 rows x 6 columns]

In [40]:
df2.to_csv('updatedreject.csv', index=False)

In [42]:
import pandas as pd

 

# Load the first dataset
data1 = pd.read_csv('updatedapprov.csv')

 

# Load the second dataset
data2 = pd.read_csv('updatedreject.csv')

 

# Concatenate the two datasets vertically
merge_data = pd.concat([data1, data2], ignore_index=True)

 

# Save the combined dataset to a new CSV file
merge_data.to_csv('final_dataset.csv', index=False)

In [43]:
print(merge_data)

         Amount Requested Application_status  Debt-To-Income Ratio  \
0                  6700.0           Approved                 20.00
1                 18000.0           Approved                 25.09
2                 12000.0           Approved                  4.90
3                 10500.0           Approved                 35.57
4                  8000.0           Approved                 18.39
...                   ...                ...                   ...
1166142           40000.0           Rejected                  0.15
1166143            1000.0           Rejected                  0.04
1166144           40000.0           Rejected                  0.19
1166145           10000.0           Rejected                  0.38
1166146           10000.0           Rejected                  0.10

        Employment Length               Loan Title  Risk_Score
0                 8 years       Debt consolidation       780.0
1                 2 years       Debt consolidation       750.0
2               10+ years       Debt consolidation       690.0
3               10+ years  Credit card refinancing       700.0
4                 7 years       Debt consolidation       770.0
...                   ...                      ...         ...
1166142          < 1 year         Home improvement       646.0
1166143          < 1 year    Moving and relocation       549.0
1166144          < 1 year            Car financing       656.0
1166145          < 1 year  Credit card refinancing       648.0
1166146         10+ years  Credit card refinancing       683.0

[1166147 rows x 6 columns]

In [44]:
#logistic regression
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder

In [45]:
data = pd.read_csv('final_dataset.csv')

In [46]:
X = data.drop('Application_status', axis=1)  # Replace 'target_column' with the actual target column name
y = data['Application_status']

In [47]:
model = LogisticRegression()

In [48]:
label_encoder = LabelEncoder()
X['Employment Length'] = label_encoder.fit_transform(X['Employment Length'])
X['Loan Title'] = label_encoder.fit_transform(X['Loan Title'])

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [50]:
# Train the model on the training data
model.fit(X_train, y_train)

LogisticRegression()

In [51]:
# Make predictions on the test data
y_pred = model.predict(X_test)

In [52]:
#To find Accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.96

In [53]:
# Display classification report
class_report = classification_report(y_test, y_pred)
print("Classification Report:")
print(class_report)

Classification Report:
              precision    recall  f1-score   support

    Approved       0.95      0.94      0.94     94515
    Rejected       0.96      0.96      0.96    138715

    accuracy                           0.96    233230
   macro avg       0.95      0.95      0.95    233230
weighted avg       0.96      0.96      0.96    233230